*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
* {
    background-color: antiquewhite;
  }

.txtChar{
    padding: 5px;
    margin: 5px;
    border: 1px solid firebrick;
}

.btnCalcCircum{
    padding: 5px;
    margin: 5px;
    color: black;
}

.box{
    padding: 5px;
    margin: 5px;
    border: 1px solid firebrick;
}
.box1{
    padding: 5px;
    margin: 5px;
    color: black;
}

.btnCalcArea{
    padding: 5px;
    margin: 5px;
    color: black;
}